#root {
  width: 100%;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
  box-sizing: border-box;
}

.container h1 {
  text-align: center;
  margin-bottom: 40px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
}

.card {
  background: #1f1f1f;
  border: 1px solid #333;
  border-radius: 12px;
  padding: 24px;
  text-align: center;
}

.card h2 {
  font-size: 32px;
  margin: 0 0 10px;
}

.card p {
  margin: 0;
  color: #aaa;
}

.status {
  font-size: 13px;
  padding: 6px 10px;
  border-radius: 20px;
  font-weight: bold;
}

.status.candidatar {
  background: rgba(34, 197, 94, 0.15);
  color: #22c55e;
  border: 1px solid #22c55e;
}

.status.analisar {
  background: rgba(234, 179, 8, 0.15);
  color: #eab308;
  border: 1px solid #eab308;
}

.status.ignorar {
  background: rgba(239, 68, 68, 0.15);
  color: #ef4444;
  border: 1px solid #ef4444;
}

.titulo-vagas {
  margin-top: 50px;
  margin-bottom: 20px;
}

.lista-vagas {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.vaga-card {
  background: #1f1f1f;
  border: 1px solid #333;
  border-radius: 12px;
  padding: 20px 24px;
  cursor: pointer;
}

.vaga-card h3 {
  margin: 0 0 8px;
}

.empresa {
  margin: 0;
  color: #aaa;
}

.vaga-info {
  display: flex;
  align-items: center;
  gap: 14px;
  flex-shrink: 0;
}

.vaga-info strong {
  font-size: 22px;
}

.vaga-topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.vaga-topo h3 {
  margin: 0 0 8px;
}

.vaga-detalhes {
  width: 100%;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #333;
  color: #ccc;
  line-height: 1.6;
}

.card {
  cursor: pointer;
}

.card:hover {
  transform: translateY(-2px);
  border-color: #555;
}

.card-ativo {
  border-color: #888;
  background: #292929;
  transform: translateY(-2px);
}

.busca-container {
  margin-top: 40px;
}

.busca-container input {
  width: 100%;
  padding: 14px 16px;

  background: #1f1f1f;
  color: #fff;

  border: 1px solid #333;
  border-radius: 10px;

  font-size: 15px;
  outline: none;
}

.busca-container input:focus {
  border-color: #666;
}

.busca-container input::placeholder {
  color: #777;
}